# docker
/docker/

# sites
/sites/config/ssl/*
!/sites/config/ssl/.gitkeep
/sites/*/logs/*
!/sites/*/logs/.gitkeep
/sites/*/ssl/*
!/sites/*/ssl/.gitkeep
/sites/*/html/vendor/*

# other
/*.sublime-workspace
