# docker
/docker/

# sites
/sites/config/ssl/*
!/sites/config/ssl/.gitkeep
/sites/*/logs/*
!/sites/*/logs/.gitkeep
/sites/*/ssl/*
!/sites/*/ssl/.gitkeep
/sites/*/html/composer.lock
/sites/*/html/vendor/*
/sites/generate-ssl.sh

# other
/*.sublime-workspace
.php-cs-fixer.cache
